/* screen - 12 */

.x12 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1088px;
  overflow: hidden;
  width: 100vw;
}

.x12 .header {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.x12 .group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-16@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-top: -3px;
  width: 100vw;
  padding: 15px 33px;
}

.x12 .overlap-group {
  align-self: center;
  height: 27px;
  margin-bottom: 3.38px;
  position: relative;
  width: 110px;
}

.x12 .fill-1 {
  height: 23px;
  left: 24px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.x12 .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.x12 .group-26 {
  align-items: center;
  display: flex;
  margin-left: 1568px;
  min-width: 163px;
}

.x12 .ellipse-12 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x12 .group-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 44px;
  width: 109px;
}

.x12 .flex-row {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 106px;
}

.x12 .john-smith {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 92px;
  text-align: right;
}

.x12 .triangle {
  height: 4px;
  margin-left: 4px;
  margin-top: 4px;
  width: 10px;
}

.x12 .john-smith-1 {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 109px;
  opacity: 0.8;
  text-align: right;
}

.x12 .group-1045 {
  align-items: flex-start;
  display: flex;
  margin-top: 36px;
  min-width: 1622px;
  z-index: 2;
}

.x12 .overlap-group3 {
  height: 72px;
  position: relative;
  width: 1622px;
}

.x12 .overlap-group2 {
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1622px;
}

.x12 .overlap-group1 {
  align-items: center;
  background-image: url(../img/rectangle-338@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 0;
  min-width: 1622px;
  padding: 12px 13px;
  position: absolute;
  top: 0;
}

.x12 .group-866 {
  height: 35px;
  margin-bottom: 5.36px;
  width: 40px;
}

.x12 .overlap-group-1 {
  align-self: flex-start;
  height: 47px;
  margin-left: 1122px;
  position: relative;
  width: 214px;
}

.x12 .buttons-main {
  border-radius: 3px;
  height: 37px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 212px;
}

.x12 .remind-me-later {
  height: 47px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 206px;
}

.x12 .vector-32 {
  height: 9px;
  left: 185px;
  position: absolute;
  top: 19px;
  width: 16px;
}

.x12 .learn-more {
  height: 27px;
  letter-spacing: 0;
  margin-left: 36px;
  margin-top: 1px;
  text-align: center;
  width: 165px;
}

.x12 .text-201 {
  height: 47px;
  left: 104px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
  width: 1012px;
}

.x12 .vector-53 {
  height: 56px;
  left: 1439px;
  position: absolute;
  top: 8px;
  width: 2px;
}

.x12 .group-1126 {
  align-items: flex-start;
  display: flex;
  height: 1048px;
  left: 151px;
  min-width: 1695px;
  position: fixed;
  top: 215px;
  z-index: 3;
}

.x12 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 959px;
  width: 280px;
}

.x12 .overlap-group4 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 754px;
  padding: 22px 27px;
  width: 280px;
}

.x12 .state-2 {
  letter-spacing: 0;
  margin-right: 7px;
  min-height: 34px;
  width: 209px;
}

.x12 .overlap-group-2 {
  height: 156px;
  margin-right: 2.97px;
  margin-top: 12px;
  position: relative;
  width: 156px;
}

.x12 .ellipse-24 {
  height: 155px;
  left: 77px;
  position: absolute;
  top: 0;
  width: 79px;
}

.x12 .ellipse-25 {
  height: 20px;
  left: 47px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.x12 .ellipse-26 {
  height: 49px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 49px;
}

.x12 .ellipse-27 {
  height: 17px;
  left: 63px;
  position: absolute;
  top: 0;
  width: 16px;
}

.x12 .ellipse-28 {
  height: 107px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 78px;
}

.x12 .number {
  height: 61px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 129px;
}

.x12 .frame-139-default {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 65px;
  margin-top: 17px;
  min-width: 93px;
}

.x12 .rectangle-204 {
  background-color: var(--caribbean-green-pearl);
  height: 20px;
  width: 20px;
}

.x12 .live-26 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 62px;
}

.x12 .frame-139tags {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 39px;
  margin-top: 10px;
  min-width: 119px;
}

.x12 .rectangle-204-1 {
  background-color: var(--cadet-blue);
  height: 20px;
  width: 20px;
}

.x12 .inactive-15 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 88px;
}

.x12 .vector-50 {
  align-self: flex-start;
  height: 2px;
  margin-top: 25px;
  width: 218px;
}

.x12 .state-3 {
  letter-spacing: 0;
  margin-right: 7px;
  margin-top: 11px;
  min-height: 34px;
  width: 209px;
}

.x12 .overlap-group6 {
  height: 156px;
  margin-right: 0.97px;
  margin-top: 18px;
  position: relative;
  width: 156px;
}

.x12 .ellipse-container {
  height: 156px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.x12 .number-1 {
  height: 61px;
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 129px;
}

.x12 .frame-280-variant6 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 34px;
  margin-top: 16px;
  min-width: 85px;
}

.x12 .rectangle-204-2 {
  background-color: var(--sasquatch-socks);
  height: 20px;
  width: 20px;
}

.x12 .error-4 {
  height: 23px;
  letter-spacing: 0;
  margin-left: 11px;
  width: 54px;
}

.x12 .frame-280-variant4 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 52px;
  margin-top: 10px;
  min-width: 106px;
}

.x12 .rectangle-204-3 {
  background-color: var(--biloba-flower);
  height: 20px;
  width: 20px;
}

.x12 .ready-12 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 75px;
}

.x12 .frame-280-variant4-1 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 6px;
  margin-top: 10px;
  min-width: 152px;
}

.x12 .rectangle-204-4 {
  background-color: var(--canary);
  height: 20px;
  width: 20px;
}

.x12 .ready-12-1 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 121px;
}

.x12 .frame-280-variant3 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 9px;
  margin-top: 10px;
  min-width: 149px;
}

.x12 .rectangle-204-5 {
  background-color: var(--gulf-blue);
  height: 20px;
  width: 20px;
}

.x12 .in-analysis-19 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 118px;
}

.x12 .frame-280-variant5 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 37px;
  margin-top: 10px;
  min-width: 121px;
}

.x12 .rectangle-204-6 {
  background-color: var(--periwinkle);
  height: 20px;
  width: 20px;
}

.x12 .draft-68 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 90px;
}

.x12 .overlap-group5 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  min-height: 170px;
  padding: 25px 15px;
  width: 280px;
}

.x12 .text-203 {
  height: 15px;
  letter-spacing: 0;
  line-height: 21.7px;
  margin-right: 2px;
  white-space: nowrap;
  width: 231px;
}

.x12 .overlap-group8 {
  height: 86px;
  margin-top: 17px;
  position: relative;
  width: 232px;
}

.x12 .overlap-group7 {
  height: 86px;
  left: 0;
  position: absolute;
  top: 0;
  width: 232px;
}

.x12 .text-202 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.x12 .per-day {
  height: 15px;
  left: 1px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  top: 68px;
  white-space: nowrap;
  width: 231px;
}

.x12 .text-204 {
  height: 24px;
  left: 182px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
  width: 38px;
}

.x12 .overlap-group3-1 {
  height: 1048px;
  margin-left: 7px;
  position: relative;
  width: 1331px;
}

.x12 .rectangle-209 {
  height: 881px;
  left: 30px;
  position: absolute;
  top: 159px;
  width: 1301px;
}

.x12 .rectangle-369 {
  height: 1040px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 1301px;
}

.x12 .group-1007 {
  height: 752px;
  left: 30px;
  position: absolute;
  top: 240px;
  width: 1301px;
}

.x12 .overlap-group1-1 {
  height: 865px;
  left: 0;
  position: absolute;
  top: 183px;
  width: 1270px;
}

.x12 .group-853 {
  align-items: flex-start;
  display: flex;
  height: 865px;
  left: 0;
  min-width: 1270px;
  position: absolute;
  top: 0;
}

.x12 .group-846 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 865px;
  width: 315px;
}

.x12 .state-4 {
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 230px;
}

.x12 .sdmcs {
  align-self: flex-end;
  height: 814px;
  margin-right: 1.73px;
  margin-top: 25px;
  width: 269px;
}

.x12 .group-2700 {
  align-items: flex-start;
  display: flex;
  margin-left: 268px;
  min-width: 687px;
}

.x12 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 788px;
  width: 255px;
}

.x12 .state-5 {
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 255px;
}

.x12 .frame-1026 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 19px;
  margin-top: 46px;
  min-height: 716px;
  width: 149px;
}

.x12 .frame-518-default {
  align-items: flex-start;
  display: flex;
  height: 48px;
  min-width: 119px;
  padding: 10px;
}

.x12 .state {
  height: 26px;
  letter-spacing: 0;
}

.x12 .frame-518-variant2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 142px;
  padding: 10px;
}

.x12 .frame-518-variant3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 114px;
  padding: 10px;
}

.x12 .frame-518-variant4-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 149px;
  padding: 10px;
}

.x12 .frame-518-variant4-2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 147px;
  padding: 10px;
}

.x12 .frame-518-variant4 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 119px;
  padding: 10px;
}

.x12 .frame-518-variant4-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 144px;
  padding: 10px;
}

.x12 .overlap-group-3 {
  height: 808px;
  position: relative;
  width: 432px;
}

.x12 .state-6 {
  left: 220px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 212px;
}

.x12 .group-832 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 255px;
  min-height: 746px;
  position: absolute;
  top: 62px;
  width: 149px;
}

.x12 .frame-519-default {
  align-items: flex-start;
  display: flex;
  height: 69px;
  min-width: 149px;
  padding: 10px;
}

.x12 .state-1 {
  height: 46px;
  letter-spacing: 0;
}

.x12 .frame-519-variant2 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 148px;
  padding: 10px;
}

.x12 .frame-519-variant3 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 149px;
  padding: 10px;
}

.x12 .frame-519-variant4 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 143px;
  padding: 10px;
}

.x12 .frame-519-variant {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 129px;
  padding: 10px;
}

.x12 .frame-519-variant7 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 126px;
  padding: 10px;
}

.x12 .frame-519-variant7-1 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 25px;
  min-width: 127px;
  padding: 10px;
}

.x12 .frame-519-variant7-2 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 19px;
  min-width: 127px;
  padding: 10px;
}

.x12 .group-844 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 372px;
  position: absolute;
  top: 0;
  width: 257px;
}

.x12 .state-7 {
  letter-spacing: 0;
  margin-right: 2px;
  min-height: 41px;
  text-align: center;
  width: 255px;
}

.x12 .group-834 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  margin-top: 31px;
  min-height: 300px;
  width: 50px;
}

.x12 .frame-518-default-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  min-width: 36px;
  padding: 10px;
}

.x12 .frame-518-variant2-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 37px;
  min-width: 47px;
  padding: 10px;
}

.x12 .frame-518-variant3-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 42px;
  padding: 10px;
}

.x12 .frame-518-variant4-4 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 50px;
  padding: 10px;
}

.x12 .insights {
  border-radius: 48px;
  height: 32px;
  left: 499px;
  position: absolute;
  top: 564px;
  width: 102px;
}

.x12 .group-1124 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 410px;
  min-height: 781px;
  position: absolute;
  top: 183px;
  width: 144px;
}

.x12 .group-1122 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 291px;
  width: 146px;
}

.x12 .state-8 {
  letter-spacing: 0;
  margin-left: 0;
  min-height: 34px;
  text-align: center;
  width: 140px;
}

.x12 .group-2704 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  margin-top: 32px;
  min-height: 62px;
  width: 143px;
}

.x12 .overlap-group-4 {
  height: 47px;
  position: relative;
  width: 143px;
}

.x12 .rectangle-395 {
  border: 1px solid var(--sasquatch-socks);
  border-radius: 22px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 143px;
}

.x12 .group-2707 {
  align-items: center;
  display: flex;
  height: 47px;
  left: 12px;
  min-width: 120px;
  position: absolute;
  top: 0;
}

.x12 .group-2706 {
  height: 17px;
  margin-bottom: 0.5px;
  width: 20px;
}

.x12 .frame-519-error-dds-default {
  align-items: center;
  display: flex;
  height: 47px;
  justify-content: center;
  min-width: 100px;
}

.x12 .insights-1 {
  align-items: flex-start;
  border-radius: 29px;
  display: flex;
  height: 32px;
  min-width: 102px;
  padding: 5px 2.5px;
}

.x12 .attention {
  height: 21px;
  letter-spacing: 0;
  min-width: 95px;
  text-align: center;
}

.x12 .attention-2 {
  height: 15px;
  letter-spacing: 0;
  min-width: 111px;
  text-align: center;
}

.x12 .overlap-group2-1 {
  align-items: flex-start;
  border-radius: 22px;
  display: flex;
  height: 34px;
  margin-right: 1px;
  margin-top: 32px;
  min-width: 115px;
  padding: 0 10px;
}

.x12 .insights-2 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 32px;
  min-width: 93px;
  padding: 5px 0;
}

.x12 .attention-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: -2px;
  min-width: 95px;
  text-align: center;
}

.x12 .overlap-group1-2 {
  height: 90px;
  margin-left: 1px;
  margin-top: 7px;
  position: relative;
  width: 147px;
}

.x12 .rectangle-394 {
  border-radius: 22px;
  height: 34px;
  left: 15px;
  position: absolute;
  top: 37px;
  width: 115px;
}

.x12 .group-1114 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 90px;
  position: absolute;
  top: 0;
  width: 147px;
}

.x12 .improvement-possibil {
  height: 11px;
  letter-spacing: 0;
  line-height: 11px;
  min-width: 95px;
  white-space: nowrap;
}

.x12 .insights-3 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 28px;
  margin-right: 3px;
  margin-top: 29px;
  min-width: 102px;
  padding: 3px 2.5px;
}

.x12 .improvement-possibil-1 {
  height: 11px;
  letter-spacing: 0;
  line-height: 11px;
  margin-right: 4px;
  margin-top: 11px;
  min-width: 143px;
  white-space: nowrap;
}

.x12 .insights-4 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 33px;
  margin-left: 3px;
  margin-top: 365px;
  min-width: 57px;
  padding: 3px 6.5px;
}

.x12 .attention-1 {
  height: 26px;
  letter-spacing: 0;
  min-width: 42px;
  text-align: center;
}

.x12 .insights-5 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 33px;
  margin-left: 3px;
  margin-top: 60px;
  min-width: 57px;
  padding: 3px 6.5px;
}

.x12 .group-1039 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 1164px;
  min-width: 152px;
  position: absolute;
  top: 94px;
}

.x12 .rectangle-195 {
  background-color: var(--whisper);
  border-radius: 27px;
  height: 34px;
  width: 34px;
}

.x12 .rectangle-196 {
  background-color: var(--whisper);
  border-radius: 22px;
  height: 34px;
  margin-left: 8px;
  width: 110px;
}

.x12 .group-1115 {
  align-items: center;
  display: flex;
  height: 21px;
  left: 1229px;
  min-width: 63px;
  position: absolute;
  top: 101px;
}

.x12 .vector-20 {
  height: 15px;
  margin-left: -1px;
  width: 15px;
}

.x12 .filter {
  letter-spacing: 0;
  margin-left: 14px;
  min-height: 21px;
  min-width: 33px;
  text-align: center;
}

.x12 .union {
  height: 16px;
  left: 1173px;
  position: absolute;
  top: 102px;
  width: 16px;
}

.x12 .buttons-main-1 {
  height: 35px;
  left: 62px;
  position: absolute;
  top: 93px;
  width: 200px;
}

.x12 .home {
  height: 24px;
  left: 64px;
  position: absolute;
  top: 26px;
  width: 24px;
}

.x12 .stations {
  height: 45px;
  left: 102px;
  letter-spacing: 0;
  position: absolute;
  top: 17px;
}

.x12 .rectangle-194 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 90px;
  margin-left: 54px;
  margin-top: 239px;
  width: 9px;
}
