/* screen - 2 */

.x2 {
  background-color: var(--white);
  height: 1088px;
  position: relative;
  width: 100vw;
}

.x2 .rectangle-194 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 90px;
  left: 1823px;
  position: absolute;
  top: 336px;
  width: 9px;
}

.x2 .overlap-group7 {
  height: 1048px;
  left: 438px;
  position: absolute;
  top: 97px;
  width: 1331px;
}

.x2 .rectangle-209 {
  height: 881px;
  left: 30px;
  position: absolute;
  top: 159px;
  width: 1301px;
}

.x2 .rectangle-369 {
  height: 1040px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 1301px;
}

.x2 .group-1007 {
  height: 752px;
  left: 30px;
  position: absolute;
  top: 240px;
  width: 1301px;
}

.x2 .overlap-group {
  height: 865px;
  left: 0;
  position: absolute;
  top: 183px;
  width: 1270px;
}

.x2 .group-853 {
  align-items: flex-start;
  display: flex;
  height: 865px;
  left: 0;
  min-width: 1270px;
  position: absolute;
  top: 0;
}

.x2 .group-846 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 865px;
  width: 315px;
}

.x2 .state-2 {
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 230px;
}

.x2 .sdmcs {
  align-self: flex-end;
  height: 814px;
  margin-right: 1.73px;
  margin-top: 25px;
  width: 269px;
}

.x2 .group-844 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 392px;
  min-height: 372px;
  width: 257px;
}

.x2 .state-3 {
  letter-spacing: 0;
  margin-right: 2px;
  min-height: 41px;
  text-align: center;
  width: 255px;
}

.x2 .group-834 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  margin-top: 31px;
  min-height: 300px;
  width: 50px;
}

.x2 .frame-518-default {
  align-items: flex-start;
  display: flex;
  height: 48px;
  min-width: 36px;
  padding: 10px;
}

.x2 .state {
  height: 26px;
  letter-spacing: 0;
}

.x2 .frame-518-variant2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 37px;
  min-width: 47px;
  padding: 10px;
}

.x2 .frame-518-variant3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 42px;
  padding: 10px;
}

.x2 .frame-518-variant4 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 50px;
  padding: 10px;
}

.x2 .group-843 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 94px;
  min-height: 808px;
  width: 212px;
}

.x2 .state-4 {
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 212px;
}

.x2 .group-832 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 6.77px;
  margin-top: 36px;
  min-height: 746px;
  width: 149px;
}

.x2 .frame-519-default {
  align-items: flex-start;
  display: flex;
  height: 69px;
  min-width: 149px;
  padding: 10px;
}

.x2 .state-1 {
  height: 46px;
  letter-spacing: 0;
}

.x2 .frame-519-variant2 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 148px;
  padding: 10px;
}

.x2 .frame-519-variant3 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 149px;
  padding: 10px;
}

.x2 .frame-519-variant4 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 143px;
  padding: 10px;
}

.x2 .frame-519-variant {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 129px;
  padding: 10px;
}

.x2 .frame-519-variant7 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 126px;
  padding: 10px;
}

.x2 .frame-519-variant7-1 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 25px;
  min-width: 127px;
  padding: 10px;
}

.x2 .frame-519-variant7-2 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 19px;
  min-width: 127px;
  padding: 10px;
}

.x2 .insights {
  border-radius: 48px;
  height: 32px;
  left: 499px;
  position: absolute;
  top: 564px;
  width: 102px;
}

.x2 .group-1123 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 452px;
  min-height: 781px;
  position: absolute;
  top: 183px;
  width: 140px;
}

.x2 .group-1122 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 364px;
  width: 142px;
}

.x2 .state-5 {
  letter-spacing: 0;
  margin-right: 2px;
  min-height: 34px;
  text-align: center;
  width: 140px;
}

.x2 .overlap-group-1 {
  align-items: flex-start;
  border-radius: 22px;
  display: flex;
  height: 34px;
  margin-right: 4px;
  margin-top: 126px;
  min-width: 110px;
  padding: 0 8px;
}

.x2 .insights-1 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 32px;
  min-width: 93px;
  padding: 5px 23px;
}

.x2 .attention-1 {
  height: 21px;
  letter-spacing: 0;
  min-width: 45px;
  text-align: center;
}

.x2 .overlap-group2 {
  height: 53px;
  margin-right: 1px;
  margin-top: 44px;
  position: relative;
  width: 129px;
}

.x2 .rectangle-394 {
  border-radius: 22px;
  height: 34px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 110px;
}

.x2 .group-1114 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 49px;
  position: absolute;
  top: 4px;
  width: 129px;
}

.x2 .insights-2 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 28px;
  margin-right: 3px;
  margin-top: -1px;
  min-width: 102px;
  padding: 3px 8.5px;
}

.x2 .attention-2 {
  height: 21px;
  letter-spacing: 0;
  min-width: 83px;
  text-align: center;
}

.x2 .improvement-possibil {
  height: 11px;
  letter-spacing: 0;
  line-height: 11px;
  margin-right: 2px;
  margin-top: 11px;
  min-width: 127px;
  white-space: nowrap;
}

.x2 .overlap-group1 {
  align-items: flex-start;
  border-radius: 22px;
  display: flex;
  height: 34px;
  margin-right: 4px;
  margin-top: 39px;
  min-width: 110px;
  padding: 1px 3px;
}

.x2 .insights-3 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 28px;
  min-width: 102px;
  padding: 3px 13px;
}

.x2 .attention-3 {
  height: 21px;
  letter-spacing: 0;
  min-width: 74px;
  text-align: center;
}

.x2 .insights-4 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 33px;
  margin-left: 1px;
  margin-top: 292px;
  min-width: 57px;
  padding: 3px 6.5px;
}

.x2 .attention {
  height: 26px;
  letter-spacing: 0;
  min-width: 42px;
  text-align: center;
}

.x2 .insights-5 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 33px;
  margin-left: 1px;
  margin-top: 60px;
  min-width: 57px;
  padding: 3px 6.5px;
}

.x2 .group-1039 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 1164px;
  min-width: 152px;
  position: absolute;
  top: 94px;
}

.x2 .rectangle-195 {
  background-color: var(--whisper);
  border-radius: 27px;
  height: 34px;
  width: 34px;
}

.x2 .rectangle-196 {
  background-color: var(--whisper);
  border-radius: 22px;
  height: 34px;
  margin-left: 8px;
  width: 110px;
}

.x2 .group-1115 {
  align-items: center;
  display: flex;
  height: 21px;
  left: 1229px;
  min-width: 63px;
  position: absolute;
  top: 101px;
}

.x2 .vector-20 {
  height: 15px;
  margin-left: -1px;
  width: 15px;
}

.x2 .filter {
  letter-spacing: 0;
  margin-left: 14px;
  min-height: 21px;
  min-width: 33px;
  text-align: center;
}

.x2 .union {
  height: 16px;
  left: 1173px;
  position: absolute;
  top: 102px;
  width: 16px;
}

.x2 .primary-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 34px;
  left: 62px;
  min-width: 200px;
  position: absolute;
  top: 94px;
}

.x2 .overlap-group4 {
  border-radius: 5px;
  height: 34px;
  position: relative;
  width: 200px;
}

.x2 .primary-button-button-state5 {
  align-items: flex-start;
  background-color: var(--caribbean-green-pearl);
  border-radius: 5px;
  display: flex;
  height: 34px;
  left: 0;
  min-width: 200px;
  padding: 0 100px;
  position: absolute;
  top: 0;
}

.x2 .pressed {
  height: 32px;
  letter-spacing: 0;
  line-height: 32px;
  min-width: 0;
  text-align: center;
  white-space: nowrap;
}

.x2 .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/intersect@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  left: 22px;
  min-width: 164px;
  padding: 6px 0px;
  position: absolute;
  top: 0;
}

.x2 .new-station {
  height: 21px;
  letter-spacing: 0;
  text-align: center;
  width: 148px;
}

.x2 .group-1012 {
  height: 17px;
  left: 46px;
  position: absolute;
  top: 9px;
  width: 17px;
}

.x2 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 151px;
  min-height: 959px;
  position: absolute;
  top: 97px;
  width: 280px;
}

.x2 .overlap-group5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 754px;
  padding: 22px 27px;
  width: 280px;
}

.x2 .state-6 {
  letter-spacing: 0;
  margin-right: 7px;
  min-height: 34px;
  width: 209px;
}

.x2 .overlap-group1-1 {
  height: 156px;
  margin-right: 0.97px;
  margin-top: 13px;
  position: relative;
  width: 156px;
}

.x2 .ellipse-24 {
  height: 155px;
  left: 77px;
  position: absolute;
  top: 0;
  width: 79px;
}

.x2 .ellipse-25 {
  height: 20px;
  left: 47px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.x2 .ellipse-26 {
  height: 49px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 49px;
}

.x2 .ellipse-27 {
  height: 17px;
  left: 63px;
  position: absolute;
  top: 0;
  width: 16px;
}

.x2 .ellipse-28 {
  height: 107px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 78px;
}

.x2 .number {
  height: 61px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 129px;
}

.x2 .frame-139-default {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 65px;
  margin-top: 16px;
  min-width: 93px;
}

.x2 .rectangle-204 {
  background-color: var(--caribbean-green-pearl);
  height: 20px;
  width: 20px;
}

.x2 .live-26 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 62px;
}

.x2 .frame-139tags {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 39px;
  margin-top: 10px;
  min-width: 119px;
}

.x2 .rectangle-204-1 {
  background-color: var(--cadet-blue);
  height: 20px;
  width: 20px;
}

.x2 .inactive-15 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 88px;
}

.x2 .vector-50 {
  align-self: flex-start;
  height: 2px;
  margin-top: 25px;
  width: 218px;
}

.x2 .state-7 {
  letter-spacing: 0;
  margin-right: 7px;
  margin-top: 11px;
  min-height: 34px;
  width: 209px;
}

.x2 .overlap-group8 {
  height: 156px;
  margin-right: 0.97px;
  margin-top: 18px;
  position: relative;
  width: 156px;
}

.x2 .ellipse-container {
  height: 156px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.x2 .number-1 {
  height: 61px;
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 129px;
}

.x2 .frame-280-variant6 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 34px;
  margin-top: 16px;
  min-width: 85px;
}

.x2 .rectangle-204-2 {
  background-color: var(--sasquatch-socks);
  height: 20px;
  width: 20px;
}

.x2 .error-4 {
  height: 23px;
  letter-spacing: 0;
  margin-left: 11px;
  width: 54px;
}

.x2 .frame-280-variant4 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 52px;
  margin-top: 10px;
  min-width: 106px;
}

.x2 .rectangle-204-3 {
  background-color: var(--biloba-flower);
  height: 20px;
  width: 20px;
}

.x2 .ready-12 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 75px;
}

.x2 .frame-280-variant4-1 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 6px;
  margin-top: 10px;
  min-width: 152px;
}

.x2 .rectangle-204-4 {
  background-color: var(--canary);
  height: 20px;
  width: 20px;
}

.x2 .ready-12-1 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 121px;
}

.x2 .frame-280-variant3 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 9px;
  margin-top: 10px;
  min-width: 149px;
}

.x2 .rectangle-204-5 {
  background-color: var(--gulf-blue);
  height: 20px;
  width: 20px;
}

.x2 .in-analysis-19 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 118px;
}

.x2 .frame-280-variant5 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 37px;
  margin-top: 10px;
  min-width: 121px;
}

.x2 .rectangle-204-6 {
  background-color: var(--periwinkle);
  height: 20px;
  width: 20px;
}

.x2 .draft-68 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 90px;
}

.x2 .overlap-group6 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  min-height: 170px;
  padding: 25px 15px;
  width: 280px;
}

.x2 .text-103 {
  height: 15px;
  letter-spacing: 0;
  line-height: 21.7px;
  margin-right: 2px;
  white-space: nowrap;
  width: 231px;
}

.x2 .overlap-group10 {
  height: 86px;
  margin-top: 17px;
  position: relative;
  width: 232px;
}

.x2 .overlap-group9 {
  height: 86px;
  left: 0;
  position: absolute;
  top: 0;
  width: 232px;
}

.x2 .text-102 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.x2 .per-day {
  height: 15px;
  left: 1px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  top: 68px;
  white-space: nowrap;
  width: 231px;
}

.x2 .text-104 {
  height: 24px;
  left: 182px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
  width: 38px;
}

.x2 .header {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: center;
  left: 0;
  min-width: 100vw;
  position: absolute;
  top: 0;
}

.x2 .group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-4@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-top: -3px;
  width: 100vw;
  padding: 15px 33px;
}

.x2 .overlap-group-3 {
  align-self: center;
  height: 27px;
  margin-bottom: 3.38px;
  position: relative;
  width: 110px;
}

.x2 .fill-1 {
  height: 23px;
  left: 24px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.x2 .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.x2 .group-26 {
  align-items: center;
  display: flex;
  margin-left: 1568px;
  min-width: 163px;
}

.x2 .ellipse-12 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x2 .group-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 44px;
  width: 109px;
}

.x2 .flex-row {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 106px;
}

.x2 .john-smith {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 92px;
  text-align: right;
}

.x2 .triangle {
  height: 4px;
  margin-left: 4px;
  margin-top: 4px;
  width: 10px;
}

.x2 .john-smith-1 {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 109px;
  opacity: 0.8;
  text-align: right;
}

.x2 .home {
  height: 24px;
  left: 502px;
  position: fixed;
  top: 123px;
  width: 24px;
}

.x2 .stations {
  height: 45px;
  left: 540px;
  letter-spacing: 0;
  position: fixed;
  top: 114px;
}
