/* screen - 22 */

.x22 {
  background-color: var(--white);
  height: 1088px;
  position: relative;
  width: 100vw;
}

.x22 .rectangle-194 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 90px;
  left: 1823px;
  position: absolute;
  top: 336px;
  width: 9px;
}

.x22 .overlap-group9 {
  height: 1048px;
  left: 438px;
  position: absolute;
  top: 97px;
  width: 1331px;
}

.x22 .rectangle-209 {
  height: 881px;
  left: 30px;
  position: absolute;
  top: 159px;
  width: 1301px;
}

.x22 .rectangle-369 {
  height: 1040px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 1301px;
}

.x22 .group-1007 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 30px;
  min-height: 751px;
  position: absolute;
  top: 240px;
  width: 1301px;
}

.x22 .div {
  height: 1px;
  width: 1301px;
}

.x22 .overlap-group2 {
  height: 84px;
  margin-top: 80px;
  position: relative;
  width: 1301px;
}

.x22 .overlap-group1 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1301px;
}

.x22 .div-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1301px;
}

.x22 .rectangle-397 {
  background-color: var(--desert-storm);
  cursor: pointer;
  height: 81px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 1299px;
}

.x22 .group-1121 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 1245px;
  min-width: 30px;
  position: absolute;
  top: 27px;
  transform: rotate(90deg);
}

.x22 .overlap-group-1 {
  border-radius: 15px;
  height: 30px;
  position: relative;
  width: 30px;
}

.x22 .rectangle-75 {
  background-color: var(--wild-sand);
  border-radius: 15px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-270deg);
  width: 30px;
}

.x22 .group-202 {
  height: 20px;
  left: 13px;
  position: absolute;
  top: 5px;
  transform: rotate(-90deg);
  width: 4px;
}

.x22 .div-2 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 1301px;
}

.x22 .group-1007-item {
  height: 2px;
  margin-top: 80px;
  width: 1301px;
}

.x22 .div-3 {
  height: 2px;
  margin-top: 79px;
  width: 1301px;
}

.x22 .div-4 {
  height: 2px;
  margin-top: 87px;
  width: 1301px;
}

.x22 .div-5 {
  height: 1px;
  margin-top: 87px;
  width: 1301px;
}

.x22 .group-1006 {
  align-items: center;
  display: flex;
  height: 865px;
  left: 0;
  min-width: 600px;
  position: absolute;
  top: 183px;
}

.x22 .group-853 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 865px;
  width: 313px;
}

.x22 .state-5 {
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 230px;
}

.x22 .sdmcs {
  align-self: flex-end;
  height: 814px;
  margin-right: -0.27px;
  margin-top: 25px;
  width: 269px;
}

.x22 .insights {
  border-radius: 48px;
  height: 32px;
  margin-left: 186px;
  margin-top: 295px;
  width: 102px;
}

.x22 .group-1124 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 410px;
  min-height: 781px;
  position: absolute;
  top: 183px;
  width: 143px;
}

.x22 .group-1122 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 291px;
  width: 145px;
}

.x22 .state-6 {
  letter-spacing: 0;
  margin-left: 3px;
  min-height: 34px;
  text-align: center;
  width: 140px;
}

.x22 .overlap-group1-1 {
  height: 217px;
  margin-top: 40px;
  position: relative;
  width: 147px;
}

.x22 .rectangle-393 {
  border-radius: 22px;
  height: 34px;
  left: 15px;
  position: absolute;
  top: 86px;
  width: 115px;
}

.x22 .rectangle-394 {
  border-radius: 22px;
  height: 34px;
  left: 15px;
  position: absolute;
  top: 164px;
  width: 115px;
}

.x22 .insights-1 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 32px;
  left: 26px;
  min-width: 93px;
  padding: 5px 0;
  position: absolute;
  top: 87px;
}

.x22 .attention-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: -2px;
  min-width: 95px;
  text-align: center;
}

.x22 .group-1114 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 217px;
  position: absolute;
  top: 0;
  width: 147px;
}

.x22 .group-2703 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 51px;
  width: 121px;
}

.x22 .overlap-group-2 {
  height: 35px;
  margin-left: 2px;
  position: relative;
  width: 115px;
}

.x22 .rectangle-396 {
  border-radius: 22px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 115px;
}

.x22 .insights-2 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 32px;
  left: 6px;
  min-width: 102px;
  padding: 3px 2.5px;
  position: absolute;
  top: 3px;
}

.x22 .attention {
  height: 21px;
  letter-spacing: 0;
  min-width: 95px;
  text-align: center;
}

.x22 .improvement-possibil {
  height: 11px;
  letter-spacing: 0;
  line-height: 11px;
  margin-top: 5px;
  min-width: 119px;
  text-align: center;
  white-space: nowrap;
}

.x22 .improvement-possibil-1 {
  height: 11px;
  letter-spacing: 0;
  line-height: 11px;
  margin-top: 76px;
  min-width: 95px;
  white-space: nowrap;
}

.x22 .insights-3 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 32px;
  margin-right: 3px;
  margin-top: 29px;
  min-width: 102px;
  padding: 3px 2.5px;
}

.x22 .improvement-possibil-2 {
  height: 11px;
  letter-spacing: 0;
  line-height: 11px;
  margin-right: 4px;
  margin-top: 7px;
  min-width: 143px;
  white-space: nowrap;
}

.x22 .insights-4 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 33px;
  margin-left: 4px;
  margin-top: 365px;
  min-width: 57px;
  padding: 3px 6.5px;
}

.x22 .attention-1 {
  height: 26px;
  letter-spacing: 0;
  min-width: 42px;
  text-align: center;
}

.x22 .insights-5 {
  align-items: flex-start;
  border-radius: 42px;
  display: flex;
  height: 33px;
  margin-left: 4px;
  margin-top: 60px;
  min-width: 57px;
  padding: 3px 6.5px;
}

.x22 .group-1039 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 1164px;
  min-width: 152px;
  position: absolute;
  top: 94px;
}

.x22 .rectangle-195 {
  background-color: var(--whisper);
  border-radius: 27px;
  height: 34px;
  width: 34px;
}

.x22 .rectangle-196 {
  background-color: var(--whisper);
  border-radius: 22px;
  height: 34px;
  margin-left: 8px;
  width: 110px;
}

.x22 .group-1115 {
  align-items: center;
  display: flex;
  height: 21px;
  left: 1229px;
  min-width: 63px;
  position: absolute;
  top: 101px;
}

.x22 .vector-20 {
  height: 15px;
  margin-left: -1px;
  width: 15px;
}

.x22 .filter {
  letter-spacing: 0;
  margin-left: 14px;
  min-height: 21px;
  min-width: 33px;
  text-align: center;
}

.x22 .union {
  height: 16px;
  left: 1173px;
  position: absolute;
  top: 102px;
  width: 16px;
}

.x22 .buttons-main {
  height: 35px;
  left: 62px;
  position: absolute;
  top: 93px;
  width: 200px;
}

.x22 .group-270 {
  align-items: flex-start;
  display: flex;
  height: 808px;
  left: 583px;
  min-width: 687px;
  position: absolute;
  top: 183px;
}

.x22 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 788px;
  width: 255px;
}

.x22 .state {
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 255px;
}

.x22 .frame-1026 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 31px;
  margin-top: 46px;
  min-height: 716px;
  width: 50px;
}

.x22 .frame-518-default {
  align-items: flex-start;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 36px;
  padding: 10px 0;
}

.x22 .state-1 {
  height: 26px;
  letter-spacing: 0;
}

.x22 .frame-518-variant2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-top: 35px;
  min-width: 47px;
  padding: 10px 0;
}

.x22 .frame-518-variant3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-top: 35px;
  min-width: 42px;
  padding: 10px 0;
}

.x22 .frame-518-variant4 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-top: 35px;
  min-width: 50px;
  padding: 10px 0;
}

.x22 .overlap-group {
  height: 808px;
  position: relative;
  width: 432px;
}

.x22 .state-2 {
  left: 220px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 212px;
}

.x22 .group-832 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 255px;
  min-height: 746px;
  position: absolute;
  top: 62px;
  width: 149px;
}

.x22 .frame-519-default {
  align-items: flex-start;
  display: flex;
  height: 69px;
  min-width: 149px;
  padding: 10px;
}

.x22 .state-3 {
  height: 46px;
  letter-spacing: 0;
}

.x22 .frame-519-variant2 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 148px;
  padding: 10px;
}

.x22 .frame-519-variant3 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 149px;
  padding: 10px;
}

.x22 .frame-519-variant4 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 143px;
  padding: 10px;
}

.x22 .frame-519-variant {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 129px;
  padding: 10px;
}

.x22 .frame-519-variant7 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 14px;
  min-width: 126px;
  padding: 10px;
}

.x22 .frame-519-variant7-1 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 25px;
  min-width: 127px;
  padding: 10px;
}

.x22 .frame-519-variant7-2 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 19px;
  min-width: 127px;
  padding: 10px;
}

.x22 .group-844 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 372px;
  position: absolute;
  top: 0;
  width: 257px;
}

.x22 .state-4 {
  letter-spacing: 0;
  margin-right: 2px;
  min-height: 41px;
  text-align: center;
  width: 255px;
}

.x22 .group-834 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  margin-top: 31px;
  min-height: 300px;
  width: 50px;
}

.x22 .frame-518-default-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  min-width: 36px;
  padding: 10px;
}

.x22 .frame-518-variant2-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 37px;
  min-width: 47px;
  padding: 10px;
}

.x22 .frame-518-variant3-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 42px;
  padding: 10px;
}

.x22 .frame-518-variant4-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 35px;
  min-width: 50px;
  padding: 10px;
}

.x22 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 151px;
  min-height: 959px;
  position: absolute;
  top: 97px;
  width: 280px;
}

.x22 .overlap-group8 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 754px;
  padding: 22px 27px;
  width: 280px;
}

.x22 .state-7 {
  letter-spacing: 0;
  margin-right: 7px;
  min-height: 34px;
  width: 209px;
}

.x22 .overlap-group3 {
  height: 156px;
  margin-right: 0.97px;
  margin-top: 13px;
  position: relative;
  width: 156px;
}

.x22 .ellipse-24 {
  height: 155px;
  left: 77px;
  position: absolute;
  top: 0;
  width: 79px;
}

.x22 .ellipse-25 {
  height: 20px;
  left: 47px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.x22 .ellipse-26 {
  height: 49px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 49px;
}

.x22 .ellipse-27 {
  height: 17px;
  left: 63px;
  position: absolute;
  top: 0;
  width: 16px;
}

.x22 .ellipse-28 {
  height: 107px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 78px;
}

.x22 .number {
  height: 61px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 129px;
}

.x22 .frame-139-default {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 65px;
  margin-top: 16px;
  min-width: 93px;
}

.x22 .rectangle-204 {
  background-color: var(--caribbean-green-pearl);
  height: 20px;
  width: 20px;
}

.x22 .live-26 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 60px;
}

.x22 .frame-139tags {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 39px;
  margin-top: 10px;
  min-width: 119px;
}

.x22 .rectangle-204-1 {
  background-color: var(--cadet-blue);
  height: 20px;
  width: 20px;
}

.x22 .inactive-15 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 88px;
}

.x22 .vector-50 {
  align-self: flex-start;
  height: 2px;
  margin-top: 25px;
  width: 218px;
}

.x22 .state-8 {
  letter-spacing: 0;
  margin-right: 7px;
  margin-top: 11px;
  min-height: 34px;
  width: 209px;
}

.x22 .overlap-group11 {
  height: 156px;
  margin-right: 0.97px;
  margin-top: 18px;
  position: relative;
  width: 156px;
}

.x22 .ellipse-container {
  height: 156px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.x22 .number-1 {
  height: 61px;
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 129px;
}

.x22 .frame-280-variant6 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 34px;
  margin-top: 16px;
  min-width: 85px;
}

.x22 .rectangle-204-2 {
  background-color: var(--sasquatch-socks);
  height: 20px;
  width: 20px;
}

.x22 .error-4 {
  height: 23px;
  letter-spacing: 0;
  margin-left: 11px;
  width: 54px;
}

.x22 .frame-280-variant4 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 52px;
  margin-top: 10px;
  min-width: 106px;
}

.x22 .rectangle-204-3 {
  background-color: var(--biloba-flower);
  height: 20px;
  width: 20px;
}

.x22 .ready-12 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 75px;
}

.x22 .frame-280-variant4-1 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 6px;
  margin-top: 10px;
  min-width: 152px;
}

.x22 .rectangle-204-4 {
  background-color: var(--canary);
  height: 20px;
  width: 20px;
}

.x22 .ready-12-1 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  min-width: 121px;
}

.x22 .frame-280-variant3 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 9px;
  margin-top: 10px;
  min-width: 149px;
}

.x22 .rectangle-204-5 {
  background-color: var(--gulf-blue);
  height: 20px;
  width: 20px;
}

.x22 .in-analysis-19 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 118px;
}

.x22 .frame-280-variant5 {
  align-items: center;
  display: flex;
  height: 26px;
  margin-right: 37px;
  margin-top: 10px;
  min-width: 121px;
}

.x22 .rectangle-204-6 {
  background-color: var(--periwinkle);
  height: 20px;
  width: 20px;
}

.x22 .draft-68 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 26px;
  width: 90px;
}

.x22 .overlap-group10 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  min-height: 170px;
  padding: 25px 15px;
  width: 280px;
}

.x22 .text-16 {
  height: 15px;
  letter-spacing: 0;
  line-height: 21.7px;
  margin-right: 2px;
  white-space: nowrap;
  width: 231px;
}

.x22 .overlap-group13 {
  height: 86px;
  margin-top: 17px;
  position: relative;
  width: 232px;
}

.x22 .overlap-group12 {
  height: 86px;
  left: 0;
  position: absolute;
  top: 0;
  width: 232px;
}

.x22 .text-15 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.x22 .per-day {
  height: 15px;
  left: 1px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  top: 68px;
  white-space: nowrap;
  width: 231px;
}

.x22 .text-17 {
  height: 24px;
  left: 182px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
  width: 38px;
}

.x22 .header {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: center;
  left: 0;
  min-width: 100vw;
  position: absolute;
  top: 0;
}

.x22 .group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-1@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-top: -3px;
  width: 100vw;
  padding: 15px 33px;
}

.x22 .overlap-group-3 {
  align-self: center;
  height: 27px;
  margin-bottom: 3.38px;
  position: relative;
  width: 110px;
}

.x22 .fill-1 {
  height: 23px;
  left: 24px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.x22 .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.x22 .group-26 {
  align-items: center;
  display: flex;
  margin-left: 1568px;
  min-width: 163px;
}

.x22 .ellipse-12 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x22 .group-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 44px;
  width: 109px;
}

.x22 .flex-row {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 106px;
}

.x22 .john-smith {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 92px;
  text-align: right;
}

.x22 .triangle {
  height: 4px;
  margin-left: 4px;
  margin-top: 4px;
  width: 10px;
}

.x22 .john-smith-1 {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 109px;
  opacity: 0.8;
  text-align: right;
}

.x22 .home {
  height: 24px;
  left: 502px;
  position: fixed;
  top: 123px;
  width: 24px;
}

.x22 .stations-view {
  height: 45px;
  left: 540px;
  letter-spacing: 0;
  position: fixed;
  top: 114px;
}
