/* screen - 24 */

.x24 {
  align-items: flex-start;
  background-color: var(--zircon);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 100vw;
}

.x24 .overlap-group6 {
  height: 1162px;
  position: relative;
  width: 100vw;
}

.x24 .group-1112 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1162px;
  position: absolute;
  top: 0;
  width: 100vw;
}

.x24 .header {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100vw;
}

.x24 .group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-8@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-top: -3px;
  width: 100vw;
  padding: 15px 33px;
}

.x24 .overlap-group {
  align-self: center;
  height: 27px;
  margin-bottom: 3.38px;
  position: relative;
  width: 110px;
}

.x24 .fill-1 {
  height: 23px;
  left: 24px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.x24 .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.x24 .group-26 {
  align-items: center;
  display: flex;
  margin-left: 1568px;
  min-width: 163px;
}

.x24 .ellipse-12 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x24 .group-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 44px;
  width: 109px;
}

.x24 .flex-row {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 106px;
}

.x24 .john-smith {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 92px;
  text-align: right;
}

.x24 .triangle {
  height: 4px;
  margin-left: 4px;
  margin-top: 4px;
  width: 10px;
}

.x24 .john-smith-1 {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 109px;
  opacity: 0.8;
  text-align: right;
}

.x24 .overlap-group3 {
  background-color: var(--black-haze);
  height: 70px;
  position: relative;
  width: 100vw;
}

.x24 .rectangle-50 {
  background-color: var(--black-haze);
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.x24 .stage-header {
  align-items: baseline;
  display: flex;
  height: 45px;
  left: 183px;
  min-width: 1554px;
  position: absolute;
  top: 13px;
}

.x24 .home {
  height: 25px;
  margin-left: -133px;
  width: 24px;
}

.x24 .chevron {
  height: 21px;
  margin-left: 8px;
  width: 20px;
}

.x24 .eol {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 45px;
  min-width: 52px;
}

.x24 .models-review {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 45px;
  min-width: 221px;
}

.x24 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 4px;
  margin-top: 12px;
  width: 100%;
}

.x24 .rectangle-52 {
  align-self: center;
  background-color: var(--cadet-blue);
  border-radius: 40px;
  height: 90px;
  margin-bottom: 58px;
  width: 6px;
}

.x24 .overlap-group4 {
  height: 1010px;
  margin-left: 16px;
  position: relative;
  width: 629px;
}

.x24 .group-881 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 4px;
  min-height: 1010px;
  position: absolute;
  top: 0;
  width: 625px;
}

.x24 .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-78-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 35px;
  margin-left: 16px;
  min-width: 200px;
  padding: 5px 17px;
}

.x24 .train-new-model {
  letter-spacing: 0;
  min-height: 23px;
  text-align: center;
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x24 .overlap-group1 {
  height: 225px;
  margin-top: 11px;
  position: relative;
  width: 625px;
}

.x24 .live-hover {
  height: 224px;
  left: -4px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x24 .rectangle-69 {
  height: 197px;
  left: 1px;
  position: absolute;
  top: 12px;
  width: 15px;
}

.x24 .live-hover-1 {
  height: 236px;
  margin-left: -4px;
  margin-top: 211px;
  width: 550px;
}

.x24 .live-hover-2 {
  height: 236px;
  margin-left: -4px;
  margin-top: -13px;
  width: 550px;
}

.x24 .live-hover-3 {
  cursor: pointer;
  height: 236px;
  left: 0;
  position: absolute;
  top: 258px;
  width: 550px;
}

.x24 .rectangle-69-1 {
  background-color: var(--white);
  border-radius: 10px;
  height: 916px;
  width: 1200px;
  position: absolute;
  right: 12px;
}

.x24 .model-g {
  left: 625px;
  letter-spacing: 0;
  position: absolute;
  top: 197px;
}

.x24 .group-353 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 1715px;
  min-height: 46px;
  position: absolute;
  top: 197px;
  width: 50px;
}

.x24 .toggle {
  align-items: center;
  background-color: var(--caribbean-green-pearl);
  border-radius: 12px;
  display: flex;
  height: 24px;
  margin-right: 2px;
  min-width: 48px;
  padding: 0 4px;
  transform: rotate(-180deg);
}

.x24 .ellipse-74 {
  background-color: var(--white);
  border-radius: 8px;
  height: 16px;
  width: 16px;
}

.x24 .live {
  letter-spacing: 0;
  margin-right: 3px;
  margin-top: 4px;
  min-height: 18px;
  min-width: 23px;
}

.x24 .group-879 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 625px;
  min-height: 766px;
  position: absolute;
  top: 264px;
  width: 1154px;
}

.x24 .overlap-group5 {
  height: 394px;
  margin-left: 3px;
  position: relative;
  width: 1151px;
}

.x24 .group-876 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 394px;
  position: absolute;
  top: 0;
  width: 1151px;
}

.x24 .overlap-group-2 {
  height: 387px;
  position: relative;
  width: 1151px;
}

.x24 .group-875 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 387px;
  position: absolute;
  top: 0;
  width: 1151px;
}

.x24 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 137px;
  width: 1151px;
}

.x24 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 51px;
  width: 1151px;
}

.x24 .text-73 {
  letter-spacing: 0;
  min-height: 26px;
  width: 297px;
}

.x24 .div {
  height: 1px;
  margin-left: 1.02px;
  margin-top: 24px;
  width: 1135px;
}

.x24 .flex-row-2 {
  align-items: center;
  display: flex;
  margin-right: 13.15px;
  margin-top: 16px;
  min-width: 1117px;
}

.x24 .number {
  height: 54px;
  letter-spacing: 0;
  width: 25px;
}

.x24 .frame-500 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-top: 16px;
  min-width: 10px;
}

.x24 .fill-10 {
  height: 10px;
  width: 11px;
}

.x24 .text-74 {
  align-self: flex-end;
  height: 42px;
  letter-spacing: 0;
  margin-left: 24px;
  width: 396px;
}

.x24 .image-210-11 {
  height: 54px;
  margin-left: 96px;
  width: 44px;
}

.x24 .image-210 {
  height: 54px;
  margin-left: 8px;
  width: 44px;
}

.x24 .div-1 {
  height: 1px;
  margin-left: -16px;
  margin-top: 15px;
  width: 1135px;
}

.x24 .flex-row-3 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 5.85px;
  margin-top: 16px;
  min-width: 1110px;
}

.x24 .number-1 {
  height: 54px;
  letter-spacing: 0;
  width: 10px;
}

.x24 .frame-500-1 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 9px;
  margin-top: 14px;
  min-width: 10px;
}

.x24 .text-75 {
  letter-spacing: 0;
  margin-bottom: 5px;
  margin-left: 24px;
  min-height: 21px;
  width: 432px;
}

.x24 .image-210-14 {
  height: 54px;
  margin-left: 60px;
  width: 44px;
}

.x24 .div-2 {
  height: 1px;
  margin-left: 1.02px;
  margin-top: 15px;
  width: 1135px;
}

.x24 .cluster-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 70px;
  margin-left: 1.04px;
  margin-top: 8px;
  min-width: 576px;
  padding: 0 11px;
}

.x24 .number-2 {
  height: 54px;
  letter-spacing: 0;
  min-width: 21px;
}

.x24 .frame-500-2 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 4px;
  margin-top: 16px;
  min-width: 10px;
}

.x24 .text-76 {
  letter-spacing: 0;
  margin-bottom: 3px;
  margin-left: 21px;
  min-height: 21px;
  width: 435px;
}

.x24 .cluster-3 {
  align-items: center;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 70px;
  margin-left: 1.04px;
  margin-top: 16px;
  min-width: 576px;
  padding: 0 11px;
}

.x24 .number-3 {
  height: 54px;
  letter-spacing: 0;
  min-width: 22px;
}

.x24 .frame-500-3 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 3px;
  margin-top: 16px;
  min-width: 10px;
}

.x24 .text-77 {
  letter-spacing: 0;
  margin-bottom: 3px;
  margin-left: 21px;
  min-height: 21px;
  width: 409px;
}

.x24 .div-3 {
  height: 2px;
  left: 0px;
  margin-left: 2px;
  position: absolute;
  top: 308px;
  width: 1134px;
}

.x24 .div-4 {
  height: 2px;
  margin-left: 1px;
  margin-top: 6px;
  width: 1135px;
}

.x24 .frame-876 {
  height: 54px;
  left: 563px;
  position: absolute;
  top: 242px;
  width: 572px;
}

.x24 .frame-877 {
  height: 54px;
  left: 563px;
  position: absolute;
  top: 323px;
  width: 572px;
}

.x24 .group-container-1 {
  align-items: flex-start;
  display: flex;
  height: 328px;
  margin-top: 44px;
  min-width: 1143px;
}

.x24 .group-877 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 322px;
  padding: 0 3.7px;
  width: 560px;
}

.x24 .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  margin-left: 0.31px;
  min-width: 489px;
}

.x24 .visual-clustering {
  letter-spacing: 0;
  min-height: 26px;
  min-width: 140px;
}

.x24 .overlap-group2 {
  align-self: flex-end;
  height: 25px;
  margin-left: 6px;
  position: relative;
  width: 343px;
}

.x24 .group-685 {
  align-items: flex-start;
  display: flex;
  height: 10px;
  justify-content: flex-end;
  left: 225px;
  min-width: 10px;
  position: absolute;
  top: 4px;
  transform: rotate(-180deg);
}

.x24 .overlap-group-3 {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  height: 12px;
  margin-top: -1px;
  min-width: 12px;
  padding: 1.2px 4px;
}

.x24 .vector {
  height: 7px;
  transform: rotate(180deg);
  width: 2px;
}

.x24 .text-80 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 343px;
}

.x24 .overlap-group-4 {
  align-items: flex-start;
  border-radius: 3px;
  display: flex;
  height: 287px;
  margin-top: 4px;
  min-width: 552px;
  padding: 1.9px 0;
}

.x24 .mask-group {
  height: 281px;
  width: 548px;
}

.x24 .group-878 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 328px;
  width: 556px;
}

.x24 .overlap-group1-1 {
  height: 150px;
  position: relative;
  width: 546px;
}

.x24 .percent {
  height: 54px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
  width: 86px;
}

.x24 .text-78 {
  height: 80px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
  width: 546px;
}

.x24 .improvement-possibil {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.x24 .improvement-possibil-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 124px;
  width: 90px;
}

.x24 .text-79 {
  height: 168px;
  letter-spacing: 0;
  margin-top: 10px;
  width: 522px;
}
