#second_report_page {
  width: 100%;
}

.clickable-model {
  width: 45px;
  height: 30px;
  position: absolute;
  top: 192px;
  right: 65px;
  z-index: 999;
  border-radius: 15px;
  cursor: pointer;
}
