#second_report_page {
  width: 100%;
}

.clickable-model {
  width: 45px;
  height: 22px;
  position: absolute;
  top: 184px;
  right: 58px;
  z-index: 999;
  border-radius: 15px;
  cursor: pointer;
}
