#second_report_page {
  width: 100%;
}

.clickable-model {
  width: 566px;
  height: 205px;
  position: absolute;
  top: 418px;
  left: 36px;
  z-index: 999;
  border-radius: 15px;
  cursor: pointer;
}
