#third_report_page {
  width: 100%;
}

.clickable-model {
  width: 218px;
  height: 33px;
  position: absolute;
  top: 419px;
  right: 93px;
  z-index: 999;
  border-radius: 5px;
  cursor: pointer;
}
