/* screen - 28 */

.x28 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1080px;
  width: 100vw;
}

.x28 .header {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: center;
  left: 0;
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5;
}

.x28 .group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-5@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-top: -3px;
  width: 100vw;
  padding: 15px 33px;
}

.x28 .overlap-group-1 {
  align-self: center;
  height: 27px;
  margin-bottom: 3.38px;
  position: relative;
  width: 110px;
}

.x28 .fill-1 {
  height: 23px;
  left: 24px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.x28 .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.x28 .group-26 {
  align-items: center;
  display: flex;
  margin-left: 1568px;
  min-width: 163px;
}

.x28 .ellipse-12 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x28 .group-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 44px;
  width: 109px;
}

.x28 .flex-row {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 106px;
}

.x28 .john-smith {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 92px;
  text-align: right;
}

.x28 .triangle {
  height: 4px;
  margin-left: 4px;
  margin-top: 4px;
  width: 10px;
}

.x28 .john-smith-1 {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 109px;
  opacity: 0.8;
  text-align: right;
}

.x28 .rectangle-50 {
  background-color: var(--black-haze);
  height: 70px;
  left: 0;
  position: fixed;
  top: 70px;
  width: 100vw;
  z-index: 3;
}

.x28 .group-1103 {
  align-items: flex-start;
  display: flex;
  height: 56px;
  left: 675px;
  min-width: 569px;
  position: fixed;
  top: 78px;
  z-index: 4;
}

.x28 .overlap-group6 {
  height: 56px;
  position: relative;
  width: 569px;
}

.x28 .group-32 {
  align-items: flex-start;
  display: flex;
  height: 36px;
  left: 348px;
  padding: 0 1px;
  position: absolute;
  top: 10px;
  width: 221px;
}

.x28 .buttons-main {
  height: 36px;
  width: 219px;
}

.x28 .text {
  height: 56px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 490px;
}

.x28 .group-2696 {
  align-items: center;
  display: flex;
  height: 45px;
  left: 50px;
  min-width: 147px;
  position: fixed;
  top: 83px;
  z-index: 6;
}

.x28 .home {
  height: 25px;
  width: 24px;
}

.x28 .chevron {
  height: 21px;
  margin-left: 8px;
  width: 20px;
}

.x28 .eol {
  height: 45px;
  letter-spacing: 0;
  margin-left: 8px;
  min-width: 54px;
}

.x28 .overlap-group-2 {
  height: 27px;
  margin-left: 8px;
  margin-top: 4px;
  position: relative;
  width: 23px;
}

.x28 .text-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 23px;
}

.x28 .fill-10 {
  height: 10px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 10px;
}

.x28 .group-1098 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 1442px;
  min-width: 449px;
  position: fixed;
  top: 88px;
  z-index: 7;
}

.x28 .overlap-group9 {
  height: 37px;
  margin-top: -1px;
  position: relative;
  width: 184px;
}

.x28 .vector-31 {
  height: 9px;
  left: 35px;
  position: absolute;
  top: 12px;
  width: 16px;
}

.x28 .overlap-group-3 {
  align-items: center;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 37px;
  left: 32px;
  min-width: 152px;
  padding: 6.5px 33.5px;
  position: absolute;
  top: 0;
}

.x28 .group {
  height: 19px;
  margin-bottom: 2px;
  width: 19px;
}

.x28 .scan {
  align-self: flex-end;
  height: 23px;
  letter-spacing: 0;
  margin-left: 7px;
  min-width: 52px;
  text-align: center;
}

.x28 .group-981 {
  align-items: center;
  background-image: url(../img/rectangle-193@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 0;
  min-width: 36px;
  padding: 4.2px 1px;
  position: absolute;
  top: 1px;
}

.x28 .vector-31-1 {
  height: 9px;
  margin-bottom: 5.69px;
  width: 16px;
}

.x28 .vector-51 {
  align-self: flex-end;
  height: 26px;
  margin-left: 7px;
  width: 2px;
}

.x28 .group-982 {
  align-items: center;
  background-image: url(../img/rectangle-193-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 30px;
  min-width: 35px;
  padding: 4.2px 0;
}

.x28 .vector-32 {
  height: 9px;
  margin-bottom: 3.69px;
  width: 16px;
}

.x28 .vector-51-1 {
  align-self: flex-end;
  height: 26px;
  margin-left: 8px;
  width: 2px;
}

.x28 .overlap-group8 {
  align-items: flex-start;
  background-image: url(../img/buttons-main-6@2x.svg);
  background-size: 100% 100%;
  display: flex;
  min-width: 200px;
}

.x28 .buttons-main-1 {
  height: 35px;
  width: 200px;
}

.x28 .group-1102 {
  align-items: flex-start;
  display: flex;
  margin-top: 226px;
  min-width: 1622px;
  z-index: 2;
}

.x28 .overlap-group5 {
  height: 194px;
  position: relative;
  width: 1622px;
}

.x28 .group-1087 {
  align-items: flex-start;
  display: flex;
  height: 194px;
  left: 0;
  min-width: 1622px;
  position: absolute;
  top: 0;
}

.x28 .overlap-group-4 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 193px;
  padding: 21px 63px;
  width: 507px;
}

.x28 .frame-542 {
  align-items: center;
  display: flex;
  min-width: 243px;
}

.x28 .group-709 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 30px;
  padding: 5px 5.2px;
}

.x28 .group-708 {
  height: 19px;
  width: 19px;
}

.x28 .text-47 {
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 27px;
  min-width: 203px;
}

.x28 .vector-52 {
  align-self: center;
  height: 51px;
  margin-right: 43px;
  margin-top: 10px;
  width: 2px;
}

.x28 .text-48 {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 40px;
  width: 380px;
}

.x28 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 51px;
  min-height: 193px;
  padding: 23px 63px;
  width: 507px;
}

.x28 .group-714 {
  align-items: flex-start;
  display: flex;
  min-width: 207px;
}

.x28 .group-715 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 30px;
  padding: 5.8px 4.1px;
}

.x28 .group-713 {
  height: 18px;
  width: 20px;
}

.x28 .model-optimization {
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 26px;
}

.x28 .text-45 {
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 36px;
  width: 335px;
}

.x28 .text-4 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 36px;
  width: 380px;
}

.x28 .overlap-group1 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  min-height: 193px;
  padding: 22px 60px;
  width: 507px;
}

.x28 .frame-713 {
  align-items: center;
  display: flex;
  min-width: 197px;
}

.x28 .group-712 {
  align-items: center;
  background-color: var(--zircon);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 30px;
  padding: 0 4px;
}

.x28 .group-711 {
  height: 20px;
  width: 21px;
}

.x28 .model-adaptation {
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 27px;
  min-width: 157px;
}

.x28 .text-43 {
  letter-spacing: 0;
  margin-top: 10px;
  min-height: 36px;
  width: 307px;
}

.x28 .text-49 {
  left: 70px;
  letter-spacing: 0;
  position: absolute;
  top: 63px;
  width: 161px;
}

.x28 .text-50 {
  left: 254px;
  letter-spacing: 0;
  position: absolute;
  top: 63px;
  width: 171px;
}

.x28 .overlap-group10 {
  height: 433px;
  margin-right: 2px;
  margin-top: 72px;
  position: relative;
  width: 1620px;
  z-index: 1;
}

.x28 .overlap-group4 {
  height: 433px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1620px;
}

.x28 .new-model-loading-spinner {
  background-color: var(--white);
  border-radius: 8px;
  height: 433px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1016px;
}

.x28 .new-model-loading-spinner-1 {
  background-color: var(--white);
  border-radius: 8px;
  height: 433px;
  left: 1065px;
  position: absolute;
  top: 0;
  width: 555px;
}

.x28 .group-1081 {
  align-items: flex-start;
  display: flex;
  height: 359px;
  left: 34px;
  min-width: 1554px;
  position: absolute;
  top: 38px;
}

.x28 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 359px;
  width: 920px;
}

.x28 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  min-width: 920px;
}

.x28 .metrics {
  align-items: flex-start;
  display: flex;
  height: 72px;
  min-width: 614px;
}

.x28 .silhouette-score {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 72px;
  width: 162px;
}

.x28 .failures-detected {
  letter-spacing: 0;
  min-height: 26px;
}

.x28 .number {
  letter-spacing: 0;
  margin-top: 1px;
  min-height: 45px;
}

.x28 .no-of {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  min-height: 72px;
  width: 162px;
}

.x28 .predict-calls {
  letter-spacing: 0;
  min-height: 26px;
}

.x28 .feedback-calls {
  letter-spacing: 0;
  min-height: 26px;
}

.x28 .dropdown-container {
  height: 32px;
  margin-left: 108px;
  position: relative;
  width: 198px;
}

.x28 .dropdown {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 32px;
  position: absolute;
  top: 0;
  width: 198px;
}

.x28 .dropdown-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 31px;
  min-width: 198px;
  padding: 2px 12px;
}

.x28 .text-2 {
  letter-spacing: 0;
  min-height: 26px;
  min-width: 79px;
}

.x28 .dropdown-icon {
  align-self: center;
  height: 18px;
  margin-bottom: 1px;
  margin-left: 77px;
  width: 18px;
}

.x28 .line {
  background-color: var(--oxford-blue);
  height: 1px;
  width: 198px;
}

.x28 .dropdown-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 32px;
  position: absolute;
  top: 0;
  width: 197px;
}

.x28 .dropdown-3 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  height: 31px;
  min-width: 197px;
  padding: 2px 12px;
}

.x28 .text-3 {
  letter-spacing: 0;
  min-height: 26px;
  min-width: 78px;
}

.x28 .line-1 {
  background-color: var(--oxford-blue);
  height: 1px;
  width: 197px;
}

.x28 .graph-31 {
  align-items: flex-start;
  display: flex;
  height: 247px;
  justify-content: flex-end;
  margin-top: 40px;
  min-width: 920px;
}

.x28 .overlap-group-5 {
  height: 223px;
  margin-top: -2px;
  position: relative;
  width: 992px;
}

.x28 .y-labels {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 14px;
  min-height: 223px;
  position: absolute;
  top: 0;
  width: 39px;
}

.x28 .number-2 {
  -webkit-text-stroke: 1px var(--cadet-blue);
  height: 31px;
  letter-spacing: 0;
  text-align: right;
  width: 39px;
}

.x28 .number-1 {
  -webkit-text-stroke: 1px var(--cadet-blue);
  height: 31px;
  letter-spacing: 0;
  margin-top: 17px;
  text-align: right;
  width: 39px;
}

.x28 .number-3 {
  -webkit-text-stroke: 1px var(--cadet-blue);
  height: 31px;
  letter-spacing: 0;
  margin-right: 0.19px;
  margin-top: 17px;
  text-align: right;
  width: 38px;
}

.x28 .number-4 {
  -webkit-text-stroke: 1px var(--cadet-blue);
  height: 31px;
  letter-spacing: 0;
  margin-right: 0.15px;
  margin-top: 17px;
  text-align: right;
  width: 13px;
}

.x28 .graph {
  height: 201px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 992px;
}

.x28 .frame-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-top: 2px;
  min-height: 336px;
  width: 444px;
}

.x28 .ttile {
  height: 26px;
  letter-spacing: 0;
}

.x28 .div {
  height: 1px;
  margin-top: 4px;
  width: 444px;
}

.x28 .insights-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x28 .insights-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 325px;
  margin-top: 4px;
  overflow: hidden;
  overflow-y: scroll;
  width: 444px;
}

.x28 .div-1 {
  height: 1px;
  margin-top: -1px;
  width: 444px;
}

.x28 .overlap-group {
  height: 77px;
  margin-left: -1px;
  margin-top: 7px;
  position: relative;
  width: 445px;
}

.x28 .insights {
  align-items: flex-start;
  background-color: var(--canary);
  border-radius: 3px;
  display: flex;
  height: 26px;
  left: 0;
  min-width: 62px;
  padding: 2px 8px;
  position: absolute;
  top: 0;
}

.x28 .improvement-possibil {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 44px;
  text-align: center;
}

.x28 .text-4-1 {
  height: 52px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
  width: 444px;
}

.x28 .insights-item {
  height: 1px;
  margin-top: 8px;
  width: 444px;
}

.x28 .overlap-group1-1 {
  height: 103px;
  margin-left: -1px;
  margin-top: 7px;
  position: relative;
  width: 445px;
}

.x28 .text-41 {
  height: 78px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
  width: 444px;
}

.x28 .x-lables {
  align-items: flex-end;
  display: flex;
  height: 26px;
  left: 51px;
  min-width: 953px;
  position: absolute;
  top: 371px;
}

.x28 .x0400pm {
  align-self: flex-start;
  height: 26px;
  letter-spacing: 0;
  text-align: center;
  width: 76px;
}

.x28 .x0405pm {
  height: 26px;
  letter-spacing: 0;
  margin-left: 48px;
  text-align: center;
  width: 76px;
}

.x28 .x0410pm {
  height: 26px;
  letter-spacing: 0;
  margin-left: 50px;
  text-align: center;
  width: 71px;
}

.x28 .x0415pm {
  height: 26px;
  letter-spacing: 0;
  margin-left: 52px;
  min-width: 71px;
  text-align: center;
}

.x28 .x0420am {
  height: 26px;
  letter-spacing: 0;
  margin-left: 50px;
  text-align: center;
  width: 75px;
}

.x28 .x0425am {
  align-self: flex-start;
  height: 26px;
  letter-spacing: 0;
  margin-left: 48px;
  text-align: center;
  width: 75px;
}

.x28 .x0430am {
  height: 26px;
  letter-spacing: 0;
  margin-left: 48px;
  text-align: center;
  width: 75px;
}

.x28 .x0435am {
  align-self: flex-start;
  height: 26px;
  letter-spacing: 0;
  margin-left: 48px;
  min-width: 75px;
  text-align: center;
}
