/* screen - 4 */

.x4 {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  width: 1920px;
}

.x4 .header {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: center;
  min-width: 1920px;
  z-index: 1;
}

.x4 .group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-5@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-top: -3px;
  min-width: 1928px;
  padding: 15px 36px;
}

.x4 .overlap-group {
  align-self: center;
  height: 27px;
  margin-bottom: 3.38px;
  position: relative;
  width: 110px;
}

.x4 .fill-1 {
  height: 23px;
  left: 24px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.x4 .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.x4 .group-2699 {
  align-items: center;
  display: flex;
  margin-left: 694px;
  min-width: 212px;
}

.x4 .john-smith {
  height: 45px;
  letter-spacing: 0;
  min-width: 184px;
  text-align: right;
}

.x4 .ellipse-14 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 4.5px;
  height: 9px;
  margin-left: 2px;
  margin-top: 12.0px;
  width: 9px;
}

.x4 .group-26 {
  align-items: center;
  display: flex;
  margin-left: 663px;
  min-width: 160px;
}

.x4 .ellipse-12 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x4 .overlap-group1 {
  height: 41px;
  margin-bottom: 1.0px;
  margin-left: 8px;
  position: relative;
  width: 106px;
}

.x4 .john-smith-container {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 101px;
}

.x4 .john-smith-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 0;
}

.x4 .john-smith-2 {
  left: 0;
  letter-spacing: 0;
  opacity: 0.8;
  position: absolute;
  text-align: right;
  top: 23px;
}

.x4 .triangle {
  height: 4px;
  left: 96px;
  position: absolute;
  top: 12px;
  width: 10px;
}

.x4 .rectangle-339 {
  background-color: var(--caribbean-green-pearl);
  height: 7px;
  left: 485px;
  position: fixed;
  top: 90px;
  width: 85px;
  z-index: 8;
}

.x4 .rectangle-342 {
  background-color: var(--mist-gray);
  height: 7px;
  left: 586px;
  position: fixed;
  top: 90px;
  width: 85px;
  z-index: 10;
}

.x4 .rectangle-343 {
  background-color: var(--mist-gray);
  height: 7px;
  left: 687px;
  position: fixed;
  top: 90px;
  width: 85px;
  z-index: 11;
}

.x4 .rectangle-344 {
  background-color: var(--mist-gray);
  height: 7px;
  left: 787px;
  position: fixed;
  top: 90px;
  width: 85px;
  z-index: 12;
}

.x4 .close-large {
  align-self: flex-end;
  height: 22px;
  margin-right: 26px;
  margin-top: 23px;
  width: 22px;
  z-index: 2;
}

.x4 .create-station {
  left: 488px;
  letter-spacing: 0;
  position: fixed;
  text-align: center;
  top: 101px;
  z-index: 9;
}

.x4 .model-name {
  left: 593px;
  letter-spacing: 0;
  position: fixed;
  text-align: center;
  top: 101px;
  z-index: 13;
}

.x4 .upload-file {
  left: 703px;
  letter-spacing: 0;
  position: fixed;
  text-align: center;
  top: 101px;
  z-index: 14;
}

.x4 .kpi {
  left: 799px;
  letter-spacing: 0;
  position: fixed;
  text-align: center;
  top: 101px;
  width: 62px;
  z-index: 15;
}

.x4 .name-your-model {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 46.0px;
  margin-top: 37px;
  min-height: 122px;
  width: 980px;
  z-index: 3;
}

.x4 .name-your-model-1 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 36px;
  width: 273px;
}

.x4 .overlap-group-1 {
  align-self: flex-end;
  height: 62px;
  margin-right: -1px;
  margin-top: 20px;
  position: relative;
  width: 944px;
}

.x4 .rectangle {
  background-color: var(--white);
  height: 31px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 944px;
}

.x4 .forward-button {
  align-items: flex-end;
  background-color: var(--caribbean-green-pearl);
  border-radius: 14px;
  display: flex;
  height: 24px;
  left: 919px;
  min-width: 24px;
  padding: 6.0px 7.1px;
  position: absolute;
  top: 29px;
  transform: rotate(180.00deg);
}

.x4 .path-3 {
  height: 12px;
  transform: rotate(-180.00deg);
  width: 8px;
}

.x4 .rectangle-1 {
  background-color: var(--charade);
  height: 3px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 944px;
}

.x4 .text {
  height: 28px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 549px;
}

.x4 .rectangle-6 {
  background-color: var(--zircon);
  border-radius: 4px;
  height: 59px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 942px;
}

.x4 .text-1 {
  height: 28px;
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  top: 19px;
  width: 549px;
}

.x4 .name-your-model-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 46.0px;
  margin-top: 39px;
  min-height: 122px;
  width: 980px;
  z-index: 4;
}

.x4 .overlap-group4 {
  height: 36px;
  margin-left: 38px;
  margin-top: 10px;
  position: relative;
  width: 273px;
}

.x4 .upload-data {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 273px;
}

.x4 .information-button {
  align-items: flex-start;
  border-radius: 14px;
  display: flex;
  height: 20px;
  left: 160px;
  min-width: 20px;
  padding: 2.0px 7.0px;
  position: absolute;
  top: 10px;
}

.x4 .vector-1 {
  height: 12px;
  width: 2px;
}

.x4 .text-25 {
  letter-spacing: 0;
  margin-left: 38px;
  margin-top: 6px;
  min-height: 21px;
}

.x4 .overlap-group3 {
  align-self: flex-end;
  height: 61px;
  margin-right: -1px;
  margin-top: 14px;
  position: relative;
  width: 944px;
}

.x4 .overlap-group-2 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 944px;
}

.x4 .rectangle-2 {
  background-color: var(--white);
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 944px;
}

.x4 .rectangle-6-1 {
  height: 59px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 942px;
}

.x4 .rectangle-3 {
  background-color: var(--oxford-blue);
  height: 3px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 944px;
}

.x4 .text-2 {
  height: 28px;
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
  width: 549px;
}

.x4 .forward-button-1 {
  align-items: flex-end;
  background-color: var(--caribbean-green-pearl);
  border-radius: 14px;
  display: flex;
  height: 24px;
  left: 902px;
  min-width: 24px;
  padding: 6.0px 7.1px;
  position: absolute;
  top: 19px;
  transform: rotate(180.00deg);
}

.x4 .or {
  height: 70px;
  letter-spacing: 0;
  margin-right: 47.0px;
  margin-top: 26px;
  text-align: right;
  width: 25px;
  z-index: 6;
}

.x4 .upload-file-box {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 93px;
  min-width: 942px;
  padding: 29px 22.0px;
  z-index: 5;
}

.x4 .group {
  align-items: flex-start;
  display: flex;
  height: 33px;
  overflow: hidden;
  padding: 1px 0;
  width: 660px;
}

.x4 .overlap-group-3 {
  height: 31px;
  margin-left: 3px;
  position: relative;
  width: 39px;
}

.x4 .vector {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.x4 .union {
  height: 20px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 14px;
}

.x4 .click-here-to-upload {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 17px;
  min-height: 30px;
  white-space: nowrap;
}

.x4 .span-1 {
  text-decoration: underline;
}

.x4 .text-27 {
  left: 522px;
  letter-spacing: 0;
  line-height: 19.3px;
  position: fixed;
  top: 634px;
  white-space: nowrap;
  z-index: 16;
}

.x4 .group-65 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 353px;
  min-height: 103px;
  padding: 0 683px;
  width: 1920px;
  z-index: 7;
}

.x4 .bottom-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 71px;
  padding: 0 63px;
  width: 553px;
}

.x4 .buttons-main {
  align-self: center;
  height: 34px;
  margin-left: 1.0px;
  margin-top: -44px;
  width: 200px;
}

.x4 .text-26 {
  letter-spacing: 0;
  margin-top: 71px;
  min-height: 15px;
  min-width: 426px;
  text-align: right;
}

.x4 .line-1 {
  align-self: center;
  height: 1px;
  margin-top: 31px;
  width: 1px;
}
