#first_page_flow_1 {
  width: 100%;
}

.clickable-model {
  width: 196px;
  height: 42px;
  position: absolute;
  top: 186px;
  left: 465px;
  z-index: 999;
  border-radius: 5px;
  cursor: pointer;
}
