/* screen - 12 */

.x12 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  width: 1920px;
}

.x12 .header {
  align-items: flex-start;
  display: flex;
  height: 70px;
  justify-content: center;
  min-width: 1920px;
}

.x12 .group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-12@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-top: -3px;
  min-width: 1928px;
  padding: 15px 36px;
}

.x12 .overlap-group {
  align-self: center;
  height: 27px;
  margin-bottom: 3.38px;
  position: relative;
  width: 110px;
}

.x12 .fill-1 {
  height: 23px;
  left: 24px;
  position: absolute;
  top: 2px;
  width: 22px;
}

.x12 .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.x12 .group-2699 {
  align-items: center;
  display: flex;
  margin-left: 694px;
  min-width: 212px;
}

.x12 .john-smith {
  height: 45px;
  letter-spacing: 0;
  min-width: 184px;
  text-align: right;
}

.x12 .ellipse-14 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 4.5px;
  height: 9px;
  margin-left: 2px;
  margin-top: 12.0px;
  width: 9px;
}

.x12 .group-26 {
  align-items: center;
  display: flex;
  margin-left: 662px;
  min-width: 160px;
}

.x12 .ellipse-12 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x12 .overlap-group1 {
  height: 41px;
  margin-bottom: 1.0px;
  margin-left: 8px;
  position: relative;
  width: 106px;
}

.x12 .john-smith-container {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 101px;
}

.x12 .john-smith-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 0;
}

.x12 .john-smith-2 {
  left: 0;
  letter-spacing: 0;
  opacity: 0.8;
  position: absolute;
  text-align: right;
  top: 23px;
}

.x12 .triangle {
  height: 4px;
  left: 96px;
  position: absolute;
  top: 12px;
  width: 10px;
}

.x12 .group-2741 {
  align-items: center;
  display: flex;
  height: 15px;
  margin-top: 26px;
  min-width: 176px;
}

.x12 .text-12 {
  letter-spacing: 0;
  min-height: 15px;
  min-width: 160px;
}

.x12 .group-348 {
  height: 11px;
  margin-bottom: 0.62px;
  margin-left: 4px;
  width: 13px;
}

.x12 .logos {
  height: 206px;
  margin-top: 71px;
  width: 206px;
}

.x12 .calculating {
  color: var(--grey);
  font-family: var(--font-family-poppins);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 26px;
  min-height: 72px;
  min-width: 318px;
  text-align: center;
}

.x12 .text-9 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 2px;
  min-height: 52px;
  text-align: center;
  width: 561px;
}

.x12 .text-10 {
  letter-spacing: 0;
  margin-left: 11.0px;
  margin-top: 326px;
  min-height: 42px;
  min-width: 329px;
  text-align: center;
}

.x12 .group-65 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 69px;
  min-height: 103px;
  padding: 0 683px;
  width: 1920px;
}

.x12 .bottom-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 71px;
  padding: 0 63px;
  width: 553px;
}

.x12 .buttons-main {
  align-self: center;
  height: 34px;
  margin-left: 1.0px;
  margin-top: -170px;
  width: 250px;
}

.x12 .text-11 {
  letter-spacing: 0;
  margin-top: 197px;
  min-height: 15px;
  min-width: 426px;
  text-align: right;
}

.x12 .span-1 {
  text-decoration: underline;
}

.x12 .line-1 {
  align-self: center;
  height: 1px;
  margin-top: 31px;
  width: 1px;
}
