/* screen - 18 */

.x18 {
  align-items: flex-start;
  display: flex;
  height: 1080px;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}

.x18 .x9 {
  height: 1371px;
  margin-top: -101.5px;
  width: 2012px;
}
