/* screen - 218 */

.x218 {
  align-items: flex-start;
  display: flex;
  height: 1080px;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}

.x218 .x9000 {
  height: 1088px;
  width: 100vw;
}
